page-home {
    ion-row {
        text-align: center;
    }

    .ception-image {
        border: 3px solid #78c2ad;
        border-radius: 25px;
        max-width: 100%;
    }

    @media (max-width: 1200px) {
        .ception-image {
           max-height: 1200px;
        }
    }
    .vote-button {
        width: 50%;
    }
}