<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Beerception</ion-title>
    <ion-buttons end>
      <button ion-button color="secondary" icon-only (click)="openAddBeerceptionModal()">
        <ion-icon name="md-add-circle"></ion-icon>
      </button>
      <button ion-button color="primary" icon-only (click)="openRulesModal()">
        <ion-icon name="md-help-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col col-12 col-sm>
        <img *ngIf="imageData" src="{{ imageData }}" class="img-fluid ception-image" alt="Beerception">
        <p *ngIf="!imageData" >Loading latest beerception...</p>
        <img *ngIf="!imageData" src="assets/imgs/beerception.png" class="img-fluid ception-image" alt="Beerception">
      </ion-col>
    </ion-row>
    <ion-row *ngIf="beerFileInfo && imageData">
      <ion-col col-6>
        <button ion-button (click)="beerUp()" color="primary" round icon-start class="vote-button">
          <ion-icon name="ios-beer"></ion-icon>
          Beer Up! ({{ beerFileInfo.beerUp }})
        </button>
      </ion-col>
      <ion-col col-6>
        <button ion-button (click)="beerDown()" color="danger" round icon-end class="vote-button">
          Beer down! ({{ beerFileInfo.beerDown }})
          <ion-icon name="ios-beer-outline"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
